{{#if adminControl.loggedIn}}
  <h3>The Administrator is Currently Logged In, Admin Functions Have Been Added</h3>
  <div class="admin-logout-button">
    <button {{action 'logOut'}}>Log Out</button>
  </div>
{{else}}
  <div class="admin-login-form">
    <form  {{action 'logIn' on="submit"}}>
      <div class="form-group">
        <label for="username">Username</label>
        {{input value=username id="username" required=true}}
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        {{input value=password id="password" required=true type="password"}}
      </div>
      <button type="submit">Log In</button>
    </form>
  </div>
{{/if}}
