<div class="tiles">
  <div class="row">
    <div class="col-md-1">
      <div class="voting">
        <p class="vote"{{action 'upVote' answer}}>Yay</p>
        <span class="votes">{{answer.votes}}</span>
        <p class="vote"{{action 'downVote' answer}}>Nay</p>
      </div>
    </div>
    <div class="col-md-11">
      <p class="title">{{answer.author}} answers:</p>
      <p class="content">{{answer.content}}</p>
      <br>
    </div>
  </div>
  {{update-answer answer=answer destroyAnswer='destroyAnswer' updateAnswer='updateAnswer'}}
</div>
