<div class="new-answer-form">
{{#if newAnswerForm}}
  <h1>New Answer</h1>
  <div class="new-answer">
    <form {{action 'saveAnswer' on="submit"}}>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author" required=true}}
      </div>
      <div class="form-group">
        <label for="content">Answer</label>
        {{textarea value=content id="content" required=true}}
      </div>
      <button type="submit">Save</button>
    </form>
  </div>
{{else}}
<div class="new-answer-button">
  <button {{action 'newAnswerForm'}}>Answer this Question!</button>
</div>
{{/if}}
</div>
