<div class="question-intro">
  {{model.title}}<br>
  <span class="question-author">{{model.author}}</span>
</div>
<br>
<hr>
{{model.content}}
{{update-question question=model update='update' destroyQuestion='destroyQuestion'}}
{{new-answer question=model saveAnswer='saveAnswer'}}
{{#each model.answers as |answer|}}
  {{answer-tile answer=answer destroyAnswer='destroyAnswer' updateAnswer='updateAnswer'}}
{{/each}}
