<div class="question-intro">
  <span class="title">{{model.title}}</span><br>
  <div class="content">
    {{model.content}}<br>
    <span id="question-author">--{{model.author}}</span>
  </div>
  {{update-question question=model update='update' destroyQuestion='destroyQuestion'}}
</div>
<br>
<hr>
<div class="lists scrollable">

  {{answer-list answers = model.answers destroyAnswer='destroyAnswer' updateAnswer='updateAnswer' vote='vote'}}
  <!-- {{#each model.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer='destroyAnswer' updateAnswer='updateAnswer' vote='vote'}}
  {{/each}} -->
  {{new-answer question=model saveAnswer='saveAnswer'}}
</div>
